/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main_content {
    display: flex;
    margin: 100px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
} 

.code_builder {
    color: #70c82f;
    user-select: none;
}

.button {
    background-color: #70c82f; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 70px;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
    opacity: 1;
    user-select: none;
}

.button:hover {opacity: 0.6}

.page_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}