h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    user-select: none;
}

.card_holder {
    padding: 25px;
}

@media screen and (max-width: 400px) {
    .button.toggle_camera_btn {
        display: none;
    }

    .page_actions {
        display: block;
        margin: 0 0 0 0 !important;
    }
}