<div class="main_content">
    <h3>Take a picture using your camera</h3>

    <div *ngIf="isCameraExist; else noCameraExist">
        <div class="content" (window:resize)="onResize($event)">
            <webcam class="camera" [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
        </div>

        <div *ngIf="errors.length > 0">
            <h4>Error Messages:</h4>
            <ul *ngFor="let error of errors">
                <li>{{ error | json }}</li>
            </ul>
        </div>
    </div>

    <div class="webcam-image" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
      </div>

    <ng-template #noCameraExist>
        Camera device not available
    </ng-template>

    <div class="page_actions">
        <a class="button" (click)="takeSnapshot()" (click)="toggleSubmit()">Take Picture</a>
        <a class="button toggle_camera_btn" (click)="changeWebCam(true)">Toggle</a>
    </div>

    <div class="page_actions" *ngIf="showSubmit">
        <a class="button" [routerLink]="['../loading']">Submit</a>
    </div>

    <a class="floating_help" (click)="open_help(camera_help)"><mat-icon>help_outline</mat-icon></a>

    <ng-template #camera_help>
        <div class="main_content">
            <h1>Help</h1>
            <h3>You have selected the option to input an image by taking a picture from your device.</h3>
            <h3>Pressing the 'Toggle' button will cycle through your devices cameras so you can choose </h3>

        </div>
    </ng-template>
</div>