<div class="main_content">
    <h3>Take a picture using your camera</h3>

    <div *ngIf="isCameraExist; else noCameraExist">
        <div class="content" (window:resize)="onResize($event)">
            <webcam class="camera" [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
        </div>

        <div *ngIf="errors.length > 0">
            <h4>Error Messages:</h4>
            <ul *ngFor="let error of errors">
                <li>{{ error | json }}</li>
            </ul>
        </div>
    </div>

    <div class="webcam-image" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
      </div>

    <ng-template #noCameraExist>
        Camera device not available
    </ng-template>

    <div class="page_actions">
        <a class="button" (click)="takeSnapshot()" (click)="toggleSubmit()">Take Picture</a>
        <a class="button toggle_camera_btn" (click)="changeWebCam(true)">Toggle</a>
    </div>

    <div class="page_actions" *ngIf="showSubmit">
        <a class="button" [routerLink]="['../loading']">Submit</a>
    </div>

    <a class="floating_help" (click)="open_help(camera_help)"><mat-icon>help_outline</mat-icon></a>

    <ng-template #camera_help>
        <div style="text-align: left;">
            <h1 style="text-align: center;">Help</h1>
            <h3>You have selected the option to input an image by taking a picture from your device. Take a picture of your hand drawn dashboard concept!<br>
            Be sure to write the letters in a 3 x 2 manner as shown in the following example:</h3>
            <figure style="text-align: center;">
                <img src="https://imgur.com/0x85Vg9.png" style="max-width: 100%;">
                <figcaption>Do not include the dashed lines in your image upload.</figcaption>
            </figure>
            <li>Pressing the 'Toggle' button will cycle through your devices cameras. You can take a picture with any of the multiple cameras your device may have.</li>
            <li>To take the picture, simply select the 'Take Picture' button.</li>
            <br>
            <h3>You can elect to retake the picture if you are not content with the picture you have taken. Just select the 'Choose Another Image'.</h3>
            <h3 style="text-align: center;"><i><b>Click 'Confirm' if you approve the picture you have snapped.</b></i></h3>
        </div>
    </ng-template>
</div>