<div class="row" >
  
    <div class="col-md-3">
      <!-- <label for="image-upload" class="button">Upload Image</label>
      <input id="image-upload" type="file" accept=".png,.jpg,.jpeg,.heic"> -->
      
      <!-- <button type="button" class="btn btn-success button" (click)="file.click()">Upload</button> -->
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" accept=".png,.jpg,.jpeg,.heic">
      <a class="button" (click)="file.click()">Upload</a>
    </div>
    <!-- <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div> -->
  </div>