a.hleft {
    display: block;
    width: 240px;
    height:auto;
    left:80px;
    top:10px;
    padding:22px 0;
    z-index:1;
    user-select: none;
    position: absolute;
}

a.hleft:hover, a.hleft:focus {
    opacity: 0.7;
}

.main_content {
    display: flex;
    margin: 100px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    position: relative;
} 

.main_content>* {
    display: block;
}

@media screen and (max-width: 750px) {
    a.hleft {
        display: block;
        width: 80%;
        margin: 0 auto;
        position: unset !important;
    }

    .main_content {
        margin: 20px auto 32px;
    }
}

