<mat-card id="kpi-cards">
  <mat-card class="left">
    Sales Effectiveness
    <mat-card-title class="title-text">
      75%
    </mat-card-title>
  </mat-card>

  <mat-card class="right">
    Return on Sales
    <mat-card-title class="title-text">
      1.2%
    </mat-card-title>
  </mat-card>
</mat-card>

<pre>
  <code>
  &lt;mat-card id="kpi-cards"&gt;
    &lt;mat-card class="left"&gt;
      Sales Effectiveness
      &lt;mat-card-title class="title-text"&gt;
        75%
      &lt;/mat-card-title&gt;
    &lt;/mat-card&gt;
  
    &lt;mat-card class="right"&gt;
      Return on Sales
      &lt;mat-card-title class="title-text"&gt;
        1.2%
      &lt;/mat-card-title&gt;
    &lt;/mat-card&gt;
  &lt;/mat-card&gt;
  </code>
</pre> 
