<div class="wrapper">
    <div class="side_content">
        <a class="component_button" (click)="toggleSubmit()">AngularComponent</a>
        <a class="subcomponent_button" *ngIf="showSubmit">AngularComponent.css</a>
        <a class="subcomponent_button" *ngIf="showSubmit">AngularComponent.html</a>
        <a class="subcomponent_button" *ngIf="showSubmit">AngularComponent.spec.ts</a>
        <a class="subcomponent_button" *ngIf="showSubmit">AngularComponent.ts</a>
    </div>

    <div class="main_content">
        <img src="not-found.png">
        <div class="page_actions">
            <app-download></app-download>
            <a class="button" style="width: 175px;" [routerLink]="['../camera']">Upload Another Image</a>
        </div>
    </div>

    <div class="side_content"></div>

    <a class="floating_help" (click)="open_help(output_help)"><mat-icon>help_outline</mat-icon></a>

    <ng-template #output_help>
        <div style="text-align: left;">
            <h1 style="text-align: center;">Help</h1>
            <h3>This page offers a menu on the left side of the image for you to view the code that the application has generated.</h3>
            <h3>You can expand the main compnent to view the subsections of the generated component.</h3>
        </div>
    </ng-template>
</div>