img {
    max-width: 1000px;
    min-width: 100%;
}

.side_content {
    float: left;
    min-width: 400px;
    display: block;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
}

.component_button {
    background-color: #70c82f;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 70px;
    cursor: pointer;
    border-radius: 25px;
    min-width: 175px;
    user-select: none;
    display: block;
    position: relative;
    right: 60px;
}

.subcomponent_button {
    background-color: #70c82f;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 70px;
    cursor: pointer;
    border-radius: 25px;
    min-width: 175px;
    user-select: none;
    display: block;
    position: relative;
    left: 40px;
    opacity: 1;
}

.component_button:hover {opacity: 0.6}
.subcomponent_button:hover {opacity: 0.6}

.main_content {
    float: left;
    padding: unset !important;
} 

@media screen and (max-width: 600px) {
    .page_action{
        display: block !important;
    }

    .side_content{
        float: unset !important;
        min-width: unset !important;
    }

    .component_button{
        display: unset !important;
        position: unset !important;
        margin: 20px 70px;
    }

    .subcomponent_button{
        position: unset !important;
        left: unset !important;
        margin: 20px 70px;
    }

    .wrapper{
        display: block !important;
    }

    img{
        width: 100%;
    }

    html, body { 
        width: auto !important;
        overflow-x: hidden !important;
    }
}