
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="00">
      <app-bar-chart1></app-bar-chart1></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="01">
      <app-data-grid2></app-data-grid2></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="10">
      <app-kpi3></app-kpi3></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="11">
      <app-data-grid4></app-data-grid4></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="20">
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card id="21">
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- 
  <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <div class="cell" cellLocation="00"></div>
    <div class="cell" cellLocation="01"></div>
    <div class="cell" cellLocation="10"></div>
    <div class="cell" cellLocation="11"></div>
    <div class="cell" cellLocation="20"></div>
    <div class="cell" cellLocation="21"></div>
  </mat-grid-list>
</div> -->