<div class="main_content">
    <h1 class="code_builder">Code Builder</h1>
    <h3>Download or view the generated code for your web dashboard.</h3>

    <div class="temp_spacer"></div>

    <div class="page_actions">
        <app-download></app-download>
        <a class="button" routerLink="">Upload Another Image</a>
    </div>

    <a class="floating_help" (click)="open_help(download_help)"><mat-icon>help_outline</mat-icon></a>

    <ng-template #download_help>
        <div style="text-align: left;">
            <h1 style="text-align: center;">Help</h1>
            <h3>The application has generated an output of your uploaded image.</h3>
            <li>The ouput is stored inside a generated zip folder. To download the zip file, click the 'Download' button.</li>
            <li>If you wish to go back and upload another image, press 'Upload Another Image'.</li>
            <br>
        </div>
    </ng-template>

</div>