.card_holder {
    padding: 75px;
}

input[type="file"] {
    display: none;
}

.dragarea {
    border: 3px dashed #bbb;
    border-radius: 20px;
}
  
.droparea {
    border: 3px dashed #bbb;
    background-color: lightgray;
    border-radius: 20px;
}

.drop_box {
    width: 100%;
    height: 400px;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width: 750px) {
    .droparea {
        display: none;
    }
    
    .dragarea {
        display: none;
    }
}