<div class="main_content">
    <h1 class="code_builder">Code Builder</h1>
    <h3>Turn a hand drawn dashboard into a web dashboard</h3>

    <div class="page_actions">
        
        <label for="image-upload" class="button">
            Upload Image
        </label>
        <input id="image-upload" type="file" accept=".png,.jpg,.jpeg,.heic">

        <a class="button" routerLink="/camera">Use Camera</a>
    </div>

    <!-- This is for testing purposes only -->
    <!-- <div class="card_holder"><a class="button" [routerLink]="['loading']">Test Loading Page</a></div> -->
</div>