# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/WebAPI/WebAPI/obj/Debug/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# WebApi additions
../WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
../WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.exe
../WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
../WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
../WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
../WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
../WebAPI/.vs/ProjectSettings.json
../WebAPI/.vs/VSWorkspaceState.json
../WebAPI/.vs/WebAPI/v16/
../WebAPI/.vs/slnx.sqlite
../WebAPI/WebAPI/.vs/
../WebAPI/WebAPI/obj/Debug/net5.0/
../WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.BuildWithSkipAnalyzers
../WebAPI/WebAPI/obj/Debug/net6.0/refint/
../WebAPI/WebAPI/obj/Debug/netcoreapp3.0/
../WebAPI/WebAPI/obj/Release/net5.0/
../WebAPI/WebAPI/obj/Release/netcoreapp3.0/igg

